$font-1: Roboto, 'Helvetica Neue', Helvetica, sans-serif;

$color-primary: #3598fe;
$color-primary-light: #c4e0fb;
$color-primary-dark: #1976d2;

$color-accent: #14de9c;
$color-accent-light: #a5d6a7;
$color-accent-dark: #43a047;

$color-warn: #ff5959;
$color-warn-light: #ff8a80;
$color-warn-dark: #d50000;

$color-main: #545873;
$color-foreground: #fff;
$color-background-light: #f5fafd;
$color-dark: #000;
$color-gray: #9598a9;
$color-success: $color-accent;
$color-notice: #fbc02d;
$color-error: $color-warn;
$color-danger: $color-warn;

$width-lg: 1920px;
$width-md: 1280px;
$width-sm: 960px;
$width-xs: 600px;
