<div class="videos-wrapper">
  <video muted autoplay playsinline #videoElement></video>

  <img-comparison-slider>
    <div class="slider-item" slot="after">
      <div class="slider-item__heading">Minified</div>
      <canvas #canvas1src width="640" height="480"></canvas>
    </div>
    <div class="slider-item" slot="before">
      <div class="slider-item__heading">Result</div>
      <canvas #canvas2src width="640" height="480"></canvas>
    </div>
  </img-comparison-slider>
</div>
<div>
  <span #counter></span>
</div>